# Explore Genre and Console control variables

In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('../../datasets/final-df-count-models.csv')

In [7]:
df.head()

,game,nr_reviews,user_avg_grade,user_sentiment_var,critic_avg_grade,critic_sentiment_var,critic_volume,genre,console,is_action,is_pc
0,007-legends-pc,0,13.750000,0.744573,26.800000,0.351563,5.0,Action,pc,1,1
1,007-legends-playstation-3,2,40.000000,0.950803,42.318182,0.619410,22.0,Action,playstation-3,1,0
2,007-legends-xbox-360,2,37.777778,0.707120,46.448980,0.669014,49.0,Action,xbox-360,1,0
3,007-quantum-of-solace-pc,1,30.000000,0.933805,70.833333,0.542889,18.0,Action,pc,1,1
4,007-quantum-of-solace-xbox-360,0,95.000000,0.061165,67.043478,0.524897,69.0,Action,xbox-360,1,0

In [39]:
genre_counts = df.genre.value_counts()

In [40]:
genre_counts

Action              1815
General              967
Role-Playing         441
Action Adventure     364
Sports               296
Simulation           205
Miscellaneous        176
Strategy             128
Arcade               106
Adventure             92
Puzzle                14
Racing                 5
Driving                1
Name: genre, dtype: int64

In [51]:
genre_counts/sum(genre_counts)

Action              0.393709
General             0.209761
Role-Playing        0.095662
Action Adventure    0.078959
Sports              0.064208
Simulation          0.044469
Miscellaneous       0.038178
Strategy            0.027766
Arcade              0.022993
Adventure           0.019957
Puzzle              0.003037
Racing              0.001085
Driving             0.000217
Name: genre, dtype: float64

In [41]:
df['is_action'] = df['genre'].apply(lambda genre: 1 if genre=='Action' else 0)

In [42]:
df.head(10)

,game,nr_reviews,user_avg_grade,user_sentiment_var,critic_avg_grade,critic_sentiment_var,critic_volume,genre,console,is_action,is_pc
0,007-legends-pc,0,13.750000,0.744573,26.800000,0.351563,5.0,Action,pc,1,1
1,007-legends-playstation-3,2,40.000000,0.950803,42.318182,0.619410,22.0,Action,playstation-3,1,0
2,007-legends-xbox-360,2,37.777778,0.707120,46.448980,0.669014,49.0,Action,xbox-360,1,0
3,007-quantum-of-solace-pc,1,30.000000,0.933805,70.833333,0.542889,18.0,Action,pc,1,1
4,007-quantum-of-solace-xbox-360,0,95.000000,0.061165,67.043478,0.524897,69.0,Action,xbox-360,1,0
5,007-the-world-is-not-enough-nintendo-64,0,65.000000,0.403687,82.250000,0.496490,16.0,Action,nintendo-64,1,0
6,1-2-switch-switch,8,60.714286,0.565418,58.190476,0.487370,65.0,Miscellaneous,switch,0,0
7,10000000-pc,0,73.333333,1.006139,67.000000,0.481958,5.0,General,pc,0,1
8,140-pc,1,82.500000,0.561227,80.833333,0.404968,6.0,Action,pc,1,1
9,2014-fifa-world-cup-brazil-playstation-3,3,27.000000,0.856938,72.969697,0.470308,33.0,Sports,playstation-3,0,0

In [43]:
console_counts = df.console.value_counts()

In [44]:
console_counts

pc                  1504
playstation-4        773
xbox-one             461
playstation-3        439
xbox-360             434
switch               338
3ds                  179
playstation-vita     157
wii-u                 98
wii                   67
ds                    40
playstation-2         31
psp                   25
game-boy-advance      14
gamecube              13
playstation           11
ios                   11
xbox                   8
nintendo-64            7
Name: console, dtype: int64

In [50]:
console_counts/sum(console_counts)

pc                  0.326247
playstation-4       0.167679
xbox-one            0.100000
playstation-3       0.095228
xbox-360            0.094143
switch              0.073319
3ds                 0.038829
playstation-vita    0.034056
wii-u               0.021258
wii                 0.014534
ds                  0.008677
playstation-2       0.006725
psp                 0.005423
game-boy-advance    0.003037
gamecube            0.002820
playstation         0.002386
ios                 0.002386
xbox                0.001735
nintendo-64         0.001518
Name: console, dtype: float64

In [45]:
df['is_pc'] = df['console'].apply(lambda console: 1 if console=='pc' else 0)

In [46]:
df.head()

,game,nr_reviews,user_avg_grade,user_sentiment_var,critic_avg_grade,critic_sentiment_var,critic_volume,genre,console,is_action,is_pc
0,007-legends-pc,0,13.750000,0.744573,26.800000,0.351563,5.0,Action,pc,1,1
1,007-legends-playstation-3,2,40.000000,0.950803,42.318182,0.619410,22.0,Action,playstation-3,1,0
2,007-legends-xbox-360,2,37.777778,0.707120,46.448980,0.669014,49.0,Action,xbox-360,1,0
3,007-quantum-of-solace-pc,1,30.000000,0.933805,70.833333,0.542889,18.0,Action,pc,1,1
4,007-quantum-of-solace-xbox-360,0,95.000000,0.061165,67.043478,0.524897,69.0,Action,xbox-360,1,0

In [47]:
df.to_csv('../../datasets/final-df-count-models.csv', index=False)

In [63]:
df = pd.read_csv('../../datasets/final-df-cs-10-reviews.csv')

In [64]:
df.head()

,game,nr_reviews,user_avg_grade,user_sentiment_var,critic_avg_grade,critic_sentiment_var,critic_volume,genre,console,is_action,is_pc
0,a-hat-in-time-pc,11,90.416667,0.567230,79.282051,0.466825,41.0,Action,pc,1,1
1,a-plague-tale-innocence-pc,14,89.056604,0.459017,80.843750,0.552898,33.0,General,pc,0,1
2,a-plague-tale-innocence-playstation-4,12,86.610169,0.531837,82.491525,0.472003,63.0,General,playstation-4,0,0
3,aliens-colonial-marines-xbox-360,13,42.250000,0.811619,48.234043,0.639638,47.0,Action,xbox-360,1,0
4,amnesia-a-machine-for-pigs-pc,14,55.000000,0.793005,71.593220,0.607532,59.0,Action Adventure,pc,0,1

In [56]:
df['is_action'] = df['genre'].apply(lambda genre: 1 if genre=='Action' else 0)

In [57]:
df['is_pc'] = df['console'].apply(lambda console: 1 if console=='pc' else 0)

In [58]:
df.describe()

,nr_reviews,user_avg_grade,user_sentiment_var,critic_avg_grade,critic_sentiment_var,critic_volume,is_action,is_pc
count,208.00000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,14.25000,67.021228,0.636960,78.909331,0.497780,50.057692,0.399038,0.355769
std,8.18063,20.347426,0.159213,10.219343,0.105267,27.157557,0.490882,0.479901
min,10.00000,0.454545,0.115341,20.000000,0.200093,3.000000,0.000000,0.000000
25%,10.00000,56.292335,0.568371,74.399038,0.414599,29.000000,0.000000,0.000000
50%,12.00000,72.212121,0.670016,80.941642,0.514224,45.000000,0.000000,0.000000
75%,15.00000,82.708333,0.748489,85.603163,0.577179,70.250000,1.000000,1.000000
max,108.00000,96.500000,0.897282,97.090909,0.786171,129.000000,1.000000,1.000000

In [62]:
df.to_csv('../../datasets/final-df-cs-10-reviews.csv', index=False)

### Datasets robustness checks

In [9]:
df = pd.read_csv('../../datasets/final-df-count-models-2weeks.csv')

In [10]:
df.head()

,game,nr_reviews,user_avg_grade,user_sentiment_var,critic_avg_grade,critic_sentiment_var,critic_volume,genre,console
0,007-legends-pc,1,1.428571,0.549131,26.800000,0.351563,5.0,Action,pc
1,007-legends-playstation-3,3,25.000000,0.177060,42.318182,0.619410,22.0,Action,playstation-3
2,007-legends-xbox-360,1,38.750000,0.741715,46.448980,0.669014,49.0,Action,xbox-360
3,007-quantum-of-solace-pc,0,30.000000,0.933805,70.833333,0.542889,18.0,Action,pc
4,007-quantum-of-solace-xbox-360,0,95.000000,0.061165,67.043478,0.524897,69.0,Action,xbox-360

In [11]:
df.shape

(4332, 9)

In [12]:
genre_counts = df.genre.value_counts()

In [13]:
genre_counts

Action              1703
General              910
Role-Playing         417
Action Adventure     349
Sports               285
Simulation           188
Miscellaneous        158
Strategy             123
Arcade                98
Adventure             83
Puzzle                13
Racing                 4
Driving                1
Name: genre, dtype: int64

In [14]:
genre_counts/sum(genre_counts)

Action              0.393121
General             0.210065
Role-Playing        0.096260
Action Adventure    0.080563
Sports              0.065789
Simulation          0.043398
Miscellaneous       0.036473
Strategy            0.028393
Arcade              0.022622
Adventure           0.019160
Puzzle              0.003001
Racing              0.000923
Driving             0.000231
Name: genre, dtype: float64

In [15]:
df['is_action'] = df['genre'].apply(lambda genre: 1 if genre=='Action' else 0)

In [16]:
df.head(10)

,game,nr_reviews,user_avg_grade,user_sentiment_var,critic_avg_grade,critic_sentiment_var,critic_volume,genre,console,is_action
0,007-legends-pc,1,1.428571,0.549131,26.800000,0.351563,5.0,Action,pc,1
1,007-legends-playstation-3,3,25.000000,0.177060,42.318182,0.619410,22.0,Action,playstation-3,1
2,007-legends-xbox-360,1,38.750000,0.741715,46.448980,0.669014,49.0,Action,xbox-360,1
3,007-quantum-of-solace-pc,0,30.000000,0.933805,70.833333,0.542889,18.0,Action,pc,1
4,007-quantum-of-solace-xbox-360,0,95.000000,0.061165,67.043478,0.524897,69.0,Action,xbox-360,1
5,007-the-world-is-not-enough-nintendo-64,0,65.000000,0.403687,82.250000,0.496490,16.0,Action,nintendo-64,1
6,1-2-switch-switch,12,63.888889,0.503946,58.190476,0.487370,65.0,Miscellaneous,switch,0
7,10000000-pc,0,73.333333,1.006139,67.000000,0.481958,5.0,General,pc,0
8,140-pc,1,90.000000,0.029300,80.833333,0.404968,6.0,Action,pc,1
9,2014-fifa-world-cup-brazil-playstation-3,3,28.750000,0.867249,72.969697,0.470308,33.0,Sports,playstation-3,0

In [17]:
console_counts = df.console.value_counts()

In [18]:
console_counts

pc                  1407
playstation-4        753
xbox-one             444
xbox-360             407
playstation-3        406
switch               319
3ds                  169
playstation-vita     146
wii-u                 93
wii                   56
ds                    35
playstation-2         25
psp                   22
ios                   11
playstation            9
gamecube               9
nintendo-64            7
game-boy-advance       7
xbox                   7
Name: console, dtype: int64

In [19]:
console_counts/sum(console_counts)

pc                  0.324792
playstation-4       0.173823
xbox-one            0.102493
xbox-360            0.093952
playstation-3       0.093721
switch              0.073638
3ds                 0.039012
playstation-vita    0.033703
wii-u               0.021468
wii                 0.012927
ds                  0.008079
playstation-2       0.005771
psp                 0.005078
ios                 0.002539
playstation         0.002078
gamecube            0.002078
nintendo-64         0.001616
game-boy-advance    0.001616
xbox                0.001616
Name: console, dtype: float64

In [20]:
df['is_pc'] = df['console'].apply(lambda console: 1 if console=='pc' else 0)

In [21]:
df.head()

,game,nr_reviews,user_avg_grade,user_sentiment_var,critic_avg_grade,critic_sentiment_var,critic_volume,genre,console,is_action,is_pc
0,007-legends-pc,1,1.428571,0.549131,26.800000,0.351563,5.0,Action,pc,1,1
1,007-legends-playstation-3,3,25.000000,0.177060,42.318182,0.619410,22.0,Action,playstation-3,1,0
2,007-legends-xbox-360,1,38.750000,0.741715,46.448980,0.669014,49.0,Action,xbox-360,1,0
3,007-quantum-of-solace-pc,0,30.000000,0.933805,70.833333,0.542889,18.0,Action,pc,1,1
4,007-quantum-of-solace-xbox-360,0,95.000000,0.061165,67.043478,0.524897,69.0,Action,xbox-360,1,0

In [22]:
df.to_csv('../../datasets/final-df-count-models-2weeks.csv', index=False)

In [23]:
df = pd.read_csv('../../datasets/final-df-cs-2weeks-8-reviews.csv')

In [30]:
df.shape

(331, 11)

In [24]:
df.head()

,game,nr_reviews,user_avg_grade,user_sentiment_var,critic_avg_grade,critic_sentiment_var,critic_volume,genre,console
0,1-2-switch-switch,12,63.888889,0.503946,58.190476,0.487370,65.0,Miscellaneous,switch
1,7-days-to-die-xbox-one,8,78.750000,0.635275,36.470588,0.638781,17.0,Action,xbox-one
2,a-plague-tale-innocence-pc,21,91.428571,0.410644,80.843750,0.552898,33.0,General,pc
3,a-plague-tale-innocence-playstation-4,11,86.226415,0.551507,82.491525,0.472003,63.0,General,playstation-4
4,a-way-out-playstation-4,11,83.636364,0.521123,79.500000,0.293056,66.0,General,playstation-4

In [26]:
df['is_action'] = df['genre'].apply(lambda genre: 1 if genre=='Action' else 0)

In [27]:
df['is_pc'] = df['console'].apply(lambda console: 1 if console=='pc' else 0)

In [28]:
df.describe()

,nr_reviews,user_avg_grade,user_sentiment_var,critic_avg_grade,critic_sentiment_var,critic_volume,is_action,is_pc
count,331.000000,331.000000,331.000000,329.000000,328.000000,329.000000,331.000000,331.000000
mean,11.909366,68.384045,0.624861,77.620998,0.500428,47.139818,0.404834,0.350453
std,8.873399,19.784722,0.171543,10.713938,0.102952,25.543696,0.491603,0.477834
min,8.000000,1.538462,0.041346,20.000000,0.154142,1.000000,0.000000,0.000000
25%,9.000000,57.793522,0.535903,72.078125,0.428401,26.000000,0.000000,0.000000
50%,10.000000,73.454545,0.657031,80.000000,0.515096,42.000000,0.000000,0.000000
75%,13.000000,83.466834,0.746775,85.142857,0.578396,66.000000,1.000000,1.000000
max,146.000000,99.400000,0.937917,97.090909,0.786171,129.000000,1.000000,1.000000

In [29]:
df.head()

,game,nr_reviews,user_avg_grade,user_sentiment_var,critic_avg_grade,critic_sentiment_var,critic_volume,genre,console,is_action,is_pc
0,1-2-switch-switch,12,63.888889,0.503946,58.190476,0.487370,65.0,Miscellaneous,switch,0,0
1,7-days-to-die-xbox-one,8,78.750000,0.635275,36.470588,0.638781,17.0,Action,xbox-one,1,0
2,a-plague-tale-innocence-pc,21,91.428571,0.410644,80.843750,0.552898,33.0,General,pc,0,1
3,a-plague-tale-innocence-playstation-4,11,86.226415,0.551507,82.491525,0.472003,63.0,General,playstation-4,0,0
4,a-way-out-playstation-4,11,83.636364,0.521123,79.500000,0.293056,66.0,General,playstation-4,0,0

In [31]:
df.to_csv('../../datasets/final-df-cs-2weeks-8-reviews.csv', index=False)